* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: beige;
}

body {
    background-color: #191818;
}

#root {
    margin: 20px;
    height: 100%;
}

.dropdown {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chats {
    display: flex;
    background-color: #282c34;
    flex-direction: column;
}
